# Core functionality - changes here should be rare!
/src/app.py                   @dtully-dentalassociates-com
/src/backend/database.py      @dtully-dentalassociates-com
/src/backend/routers/auth.py  @dtully-dentalassociates-com

# The frontend will need refactored soon to be more object oriented.
/src/static/   @dtully-dentalassociates-com
